---
http_interactions:
- request:
    method: get
    uri: https://api.cloudlayer.io/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-api-key:
      - abcdef
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-correlation-id:
      - e577e185-e776-408b-bd9c-56dbd633245a
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '0'
      etag:
      - W/"c7-t9krEB4VpuAfNVK/NiHy4EEZ2tM"
    body:
      encoding: UTF-8
      string: '{"calls":0,"subscription":"price-free-0","bytesTotal":0,"bytesLimit":100000000,"computeTimeTotal":0,"computeTimeLimit":3000000,"subType":"limit","uid":"8US0eOJMzqbb022vahk9UEXZ96i1","subActive":true}'
  recorded_at: Sat, 02 Apr 2022 11:24:44 GMT
recorded_with: VCR 6.1.0
